---
import Hamburger from '../components/Hamburger.svelte';
import Layout from '../layouts/Layout.astro';
---

<Layout title="404">
    <Hamburger client:idle />
    <h1>404 Page not found</h1>
    <button>Back to homepage</button>
</Layout>
